.blog1-div{
    margin: auto;
    width: 50%;
    min-width: 400px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: rgb(242, 222, 245);
    padding: 30px;
}


.step1, .step2, .finalCode,.cmd{
    background: rgb(32, 32, 30);
  color: rgb(255, 255, 255);  
  border-radius: 10px;
  padding: 20px;

}

.regions {
    width: 300px;
    background: rgb(190, 236, 230);
    color: black;
    border-radius: 10px;
    padding: 20px

}