.blog2-div{
    margin: auto;
    width: 50%;
    min-width: 400px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: rgb(202, 240, 202);
    padding: 30px;
}


#plan1{
  
 
  position: relative;
 padding-left: 10%;
 padding-right: 10%;
    width: 80%;
   
}