.blog2-div{
    margin: auto;
    width: 50%;
    min-width: 400px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: rgb(206, 240, 250);
    padding: 30px;
}


#plan1 , #plan2 {
position: relative;
width: 60%;
}
